<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Exchange Santa Fe</title>

    {#<!-- Bootstrap Core CSS -->
    <link href={{asset("vendor/bootstrap/css/bootstrap.min.css")}} rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href={{asset("vendor/metisMenu/metisMenu.min.css")}} rel="stylesheet">

    <!-- Custom CSS -->
    <link href={{asset("dist/css/sb-admin-2.css")}} rel="stylesheet">

    <!-- Custom Fonts -->
    <link href={{asset("vendor/font-awesome/css/font-awesome.min.css")}} rel="stylesheet" type="text/css">
#}


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

      <!-- responsive-full-background-image.css stylesheet contains the code you want -->
      <link rel="stylesheet" href="https://www.webpagefx.com/blog/images/assets/cdn.sixrevisions.com/0431-01_responsive_background_image_demo/presentational-only/presentational-only.css">

       <link rel="stylesheet" href="https://www.webpagefx.com/blog/images/assets/cdn.sixrevisions.com/0431-01_responsive_background_image_demo/responsive-full-background-image.css">

      <script src="https://www.webpagefx.com/blog/images/assets/cdn.sixrevisions.com/0431-01_responsive_background_image_demo/presentational-only/presentational-only.js"></script>
</head>

<body>
<header class="container">
<section class="content">
  <h1>Responsive Full Background Image</h1>
  <p class="sub-title"><strong>Resize your browser window</strong> <br /> to see the background image change in size</p>
  <p><a class="button" id="load-more-content" href="#top">Load some content</a></p>
  <p>To see scrolling behavior</p>

  <!-- Some content to demonstrate viewport scrolling behavior -->
  <div id="more-content">
    <p><br />Background image courtesy of <br /> <a href="http://unsplash.com/" target="_blank">Unsplash</a>.</p>
    <blockquote>
    Creating a goal-driven statement of what a product or application does results in better product experiences.
    It meets expectations because it is focused on solving the problem it was created to address.
    There is power in doing one thing and it doing it very well.
    <cite>
      Francisco Inchauste
      From <a href="http://sixrevisions.com/usabilityaccessibility/creating-a-timeless-user-experience/" target="_blank">Creating a Timeless User Experience</a>
    </cite>
    </blockquote>
    <blockquote>
    Fitts' law is centered around a mathematical equation that is used to illustrate the time it takes to reach a target object.
    A target object, in the context of UIs, can be any interactive element, such as a submit button, a hyperlink, and an input field in a web form.
    The idea is this: The quicker you can reach a target object, the more convenient and easy it is to use.
      <cite>
      Jason Gross
      From <a href="http://sixrevisions.com/usabilityaccessibility/improving-usability-with-fitts-law/" target="_blank">Improving Usability with Fitts' Law</a>
      </cite>
    </blockquote>
    <blockquote>
    Visual weight revolves around the idea that distinct elements in a design have varying heaviness relative to each other.
    Sometimes visual weight is obvious, such as in the case where larger objects appear heavier than smaller objects because they take up more space.
    In certain instances, it’s not so cut and dry, such as in the case of color. Some colors may look as if they are heavier and more dominant than others.
      <cite>
      Kayla Knight
      From <a href="http://sixrevisions.com/graphics-design/visual-weight-designs/" target="_blank">Working with Visual Weight in Your Designs</a>
      </cite>
    </blockquote>
  </div>
</section>
</header>
<!-- jQuery -->
<script src={{asset("vendor/jquery/jquery.min.js")}}></script>

<!-- Bootstrap Core JavaScript -->
<script src={{asset("vendor/bootstrap/js/bootstrap.min.js")}}></script>

<!-- Metis Menu Plugin JavaScript -->
<script src={{asset("vendor/metisMenu/metisMenu.min.js")}}></script>

<!-- Custom Theme JavaScript -->
<script src={{asset("dist/js/sb-admin-2.js")}}></script>
</body>
</html>
