{% extends "layout.html.twig" %}

{% block content %}
    {% include "navigator.html.twig" %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Editar local</h1>
            </div>
        </div>




        <div class="row">
            {% if mensaje is defined %}
                <div {% if mensaje.codigo==0 %}class="alert alert-success alert-dismissable"
                {%endif%}
                {% if mensaje.codigo==1 %}class="alert alert-danger alert-dismissable"{%endif%}
                {% if mensaje.codigo==2 %}class="alert alert-warning alert-dismissable"{%endif%}
                >
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {{mensaje.texto}} 
            </div>
            {% endif %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form role="form" action="{{path('local_edit',{'id':local.id})}}" method="POST">
                            <div class="form-group">
                                <label>Nombre</label>
                                <input class="form-control" name="nombre" value="{{local.nombre}}" type="text" size="40">
                                <label>Direccion</label>
                                <input class="form-control" name="direccion" value="{{local.direccion}}" type="text" size="4">
                                <label>Telefono</label>
                                <input class="form-control" name="telefono" value="{{local.telefono}}"  type="text" size="4">
                                <label>Contacto</label>
                                <input class="form-control" name="contacto" value="{{local.contacto}}" id=contacto onblur='buscapadron(this.value);'  type="text" size="4" >
                                <label>Latitud</label>
                                <input class="form-control" name="lat" value="{{local.lat}}"  type="number" size="4"  step=0.0001>
                                <label>Longitud</label>
                                <input class="form-control" name="lon" value="{{local.lon}}"  type="number" size="4"  step=0.0001>
                                <label>Mesa desde</label>
                                <input class="form-control" name="mesa_desde" value="{{local.mesadesde}}"  type="number">
                                <label>Mesa hasta</label>
                                <input class="form-control" name="mesa_hasta" value="{{local.mesahasta}}"  type="number">
                                
                                <input type="submit"  class="btn btn-primary" value="Grabar">
                                <button type="button" class="btn btn-outline btn-primary btn-sm" onclick="window.location.href = '{{ path('locales',{'provincia':local.provincia_id}) }}';">Salir</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>



        {% endblock %}    

            {% block final %}
                <!-- DataTables JavaScript -->
                <script src="{{ asset('/vendor/datatables/js/jquery.dataTables.min.js') }}"></script>
                <script src="{{ asset('/vendor/datatables-plugins/dataTables.bootstrap.min.js') }}"></script>
                <script src="{{ asset('vendor/datatables-responsive/dataTables.responsive.js') }}"></script>
                <script>
                                    $(document).ready(function () {
                                        $('#dataTables-example').DataTable({
                                            responsive: true
                                        });
                                    });


                                    function buscapadron(dni) {
                                        $.getJSON("{{ path('padron') }}" + "?dni=" + dni, "", function (data, textStatus, jqxhr) {
                                            $("#contacto").val(data.nombre + " " + data.telefono + " " + data.mail);
                                        });
                                    }
                </script>


            {% endblock %}


