{% extends "layout.html.twig" %}

{% block content %}
    {% include "navigator.html.twig" %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Escuelas/Locales {{provincia.nombre}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href='{{ path('provincia',{'provincia':provincia.id}) }}'>{{provincia.nombre}}</a></li>
                    <li><a href='{{ path('geolocales') }}'>Ver mapa</a></li>
                    <li><a href='?xls'>Exportar Excel</a></li>

                </ol>
                {% if mensaje is defined %}
                    <div {% if mensaje.codigo==0 %}class="alert alert-success alert-dismissable"
                    {%endif%}
                    {% if mensaje.codigo==1 %}class="alert alert-danger alert-dismissable"{%endif%}
                    {% if mensaje.codigo==2 %}class="alert alert-warning alert-dismissable"{%endif%}
                    >
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{mensaje.texto}} 
                </div>
                {% endif %}

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Direccion</th>
                                        <th>Telefono</th>
                                        <th>Contacto</th>
                                        <th>Mesas</th>
                                        <th>Total</th>
                                        <th>Coords</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in locales %}
                                        <tr class="odd gradeX">
                                            <td>{{item.nombre}}</td>
                                            <td>{{item.direccion}}</td>
                                            <td>{{item.telefono}}</td>
                                            <td>{{item.contacto}}</td>
                                            <td>{{item.mesadesde}}-{{item.mesahasta}}</td>
                                            <td>{{item.mesahasta-item.mesadesde+1}}</td>
                                            <td>{{item.lat}},{{item.lon}}</td>
                                            <td>
                                                {%if config.cerrada==0%}              
                                                    <button type="button" class="btn btn-info" onclick="window.location.href = '{{ path('local_edit',{'id':item.id}) }}';">Editar</button>
                                                    <button type="button" class="btn btn-danger" onclick="window.location.href = '{{ path('local_delete',{'id':item.id}) }}';">Borrar</button>
                                                {%endif%}
                                            </td>
                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>     
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Nuevo local
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <form role="form" action="{{path('local_add')}}" method="POST">
                            <div class="form-group">
                                <label>Nombre</label>
                                <input class="form-control" name="nombre" type="text" size="40">
                                <label>Direccion</label>
                                <input class="form-control" name="direccion" type="text" size="40">
                                <label>Telefono</label>
                                <input class="form-control" name="telefono" type="text" size="40">
                                <label>Contacto</label>
                                <input class="form-control" name="contacto" type="text" size="40">
                                <label>Mesa desde</label>
                                <input class="form-control" name="mesa_desde" type="number" size="4" min="1">
                                <label>Mesa hasta</label>
                                <input class="form-control" name="mesa_hasta" type="number" size="4" min="1">
                                <label>Latitud</label>
                                <input class="form-control" name="lat"  size="4" >
                                <label>Longitud</label>
                                <input class="form-control" name="lon"size="4" >
                                <input type="submit" class="btn btn-primary" value="Crear nueva">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>



        {% endblock %}    

            {% block final %}
                <!-- DataTables JavaScript -->
                <script src="{{ asset('/vendor/datatables/js/jquery.dataTables.min.js') }}"></script>
                <script src="{{ asset('/vendor/datatables-plugins/dataTables.bootstrap.min.js') }}"></script>
                <script src="{{ asset('vendor/datatables-responsive/dataTables.responsive.js') }}"></script>
                <script>
                                                        $(document).ready(function () {
                                                            $('#dataTables-example').DataTable({
                                                                responsive: true
                                                            });
                                                        });
                </script>


            {% endblock %}


