{% extends "layout.html.twig" %}

{% block content %}
    {% include "navigator.html.twig" %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Provincias</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {% if mensaje is defined %}
                    <div {% if mensaje.codigo==0 %}class="alert alert-success alert-dismissable"
                    {%endif%}
                    {% if mensaje.codigo==1 %}class="alert alert-danger alert-dismissable"{%endif%}
                    {% if mensaje.codigo==2 %}class="alert alert-warning alert-dismissable"{%endif%}
                    >
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{mensaje.texto}} 
                </div>
                {% endif %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Votantes N</th><th>Votantes P</th>
                                        <th>Mesas</th>
                                        <th>Dip. Titular</th>
                                        <th>Dip. Suplente</th>
                                        <th>Sen. Titular</th>
                                        <th>Sen. Suplente</th>
                                        <th>Parlasur Tit.</th>
                                        <th>Parlasur Sup.</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in provincia %}
                                        <tr class="odd gradeX">
                                            <td>{{item.nombre}}</td>
                                            <td>{{item.votantes_nacion}}</td>
                                            <td>{{item.votantes_provincia}}</td>
                                            <td>{{item.mesas}}</td>
                                            <td>{{item.dip_titular}}</td>
                                            <td>{{item.dip_suplente}}</td>
                                            <td>{{item.sen_titular}}</td>
                                            <td>{{item.sen_suplente}}</td>
                                            <td>{{item.parlasur_titular}}</td>
                                            <td>{{item.parlasur_suplente}}</td>
                                            <td>
                                                <button type="button" class="btn btn-outline btn-primary btn-sm" onclick="window.location.href = '{{ path('secciones',{'provincia':item.id}) }}';">Departamentos</button>
                                                <button type="button" class="btn btn-outline btn-primary btn-sm" onclick="window.location.href = '{{ path('cargosgobernador',{'provincia':item.id}) }}';">C. Gobernador</button>
                                                <button type="button" class="btn btn-outline btn-primary btn-sm" onclick="window.location.href = '{{ path('cargosdiputado',{'provincia':item.id}) }}';">C. Diputado</button>

                                                <button type="button" class="btn btn-outline btn-primary btn-sm" onclick="window.location.href = '{{ path('partidos',{'provincia':item.id}) }}';">Partidos/Listas</button>
                                                <button type="button" class="btn btn-outline btn-primary btn-sm" onclick="window.location.href = '{{ path('partidosnacionales',{'provincia':item.id}) }}';">Partidos/Listas Nacionales</button>
                                                <button type="button" class="btn btn-outline btn-primary btn-sm" onclick="window.location.href = '{{ path('locales',{'provincia':item.id}) }}';">Escuelas</button>
                                                <button type="button" class="btn btn-outline btn-primary btn-sm" onclick="window.location.href = '{{ path('mesastestigoprovincia',{'provincia':item.id}) }}';">Mesas</button>
                                    {%if config.cerrada==0%}              
                                     
                                    <button type="button" class="btn btn-info" onclick="window.location.href = '{{ path('provincia_edit',{'id':item.id}) }}';">Editar</button>
                                    <button type="button" class="btn btn-danger" onclick="window.location.href = '{{ path('provincia_delete',{'id':item.id}) }}';">Borrar</button>
                                    {%endif%}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>     
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Nueva provincia
                    </div>
                                               
                    <div class="panel-body"> 
                        {%if config.cerrada==0%}
                        <form role="form" action="{{path('provincia_add')}}" method="POST">
                            <div class="form-group">
                                <label>Nombre</label>
                                <input class="form-control" name="nombre" type="text" size="40">
                                <label>Votantes Nacionales</label>
                                <input class="form-control" name="electores_nacion" type="number" size="4" min="1" >
                                <label>Votantes Provinciales</label>
                                <input class="form-control" name="electores_provincia" type="number" size="4" min="1">
                                <label>Cantidad de mesas</label>
                                <input class="form-control" name="mesas" type="number" size="4" min="1">
                                
                                <label>Diputados Nacionales Titulares</label>
                                <input class="form-control" name="dip_titular" type="number" size="4" min="1">
                                
                                <label>Diputados Nacionales Suplentes</label>
                                <input class="form-control" name="dip_suplente" type="number" size="4" min="1">
                                
                                <label>Senadores Nacionales Titulares</label>
                                <input class="form-control" name="sen_titular" type="number" size="4" min="1">
                                
                                <label>Senadores Nacionales Suplentes</label>
                                <input class="form-control" name="sen_suplente" type="number" size="4" min="1">
                                
                                <label>Parlasur Titulares</label>
                                <input class="form-control" name="parlasur_titular" type="number" size="4" min="1">
                                
                                <label>Parlasur Suplentes</label>
                                <input class="form-control" name="parlasur_suplente" type="number" size="4" min="1">
                                
                               
                                <input type="submit"  class="btn btn-primary" value="Crear nueva">
                            </div>
                        </form>
                        {%else%}
                            Configuracion cerrada
                        {%endif%}
                    </div>
                           
                </div>
            </div>
        </div>
        {% endblock %}    
            {% block final %}
                <script src="{{ asset('/vendor/datatables/js/jquery.dataTables.min.js') }}"></script>
                <script src="{{ asset('/vendor/datatables-plugins/dataTables.bootstrap.min.js') }}"></script>
                <script src="{{ asset('vendor/datatables-responsive/dataTables.responsive.js') }}"></script>
                <script>
                                        $(document).ready(function () {
                                            $('#dataTables-example').DataTable({
                                                responsive: true
                                            });
                                        });
                </script>
            {% endblock %}