{% extends "layout.html.twig" %}
{% block content %}
    {% include "navigator.html.twig" %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">FISCALES - Locales</h1>
                <li><a href='{{ path('fiscales_circuito',{'id':locales.0.secc}) }}'>Volver</a></li>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>DNI</th>
                                    <th>Nombre</th>
                                    <th>Mail</th>
                                    <th>Telefono</th>
                                    <th>Mesas</th>

                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in locales%}   
                                  {%if item.testigo==0%}
                                    <tr class="odd gradeX">
                                <form action="{{path('fiscales_cargalocal',{'id':item.Id})}}" method="POST">

                                    <td>{{item.desest}}-{{item.direst}}</td>

                                    <td><input type='text' name='dni' size="6" value="{{item.dni}}"   onblur='buscapadron(this.value,{{item.Id}} );'></td>
                                    <td><input  id=n_{{item.Id}}  type='text' name='nombre' value="{{item.nombre}}"></td>
                                    <td><input id=t_{{item.Id}} type='text' name='telefono' value="{{item.telefono}}"></td>
                                    <td><input id=m_{{item.Id}} type='text' name='mail' value="{{item.mail}}"></td>
                                    <td> {{item.desde}}-{{item.hasta}}
                                        <input type="submit" value="Grabar" class="button">  
                                        <button type="button" class="btn btn-outline btn-primary btn-sm" onclick="window.location.href = '{{ path('fiscales_mesas',{'id':item.Id}) }}';">Mesas</button>
                                    </td>
                                    <td> 
                                    </td>
                                </form>
                                </tr>
                                {%else%}
                                    <tr class="odd gradeX">
                                    <td>{{item.desest}}-{{item.direst}}</td>
                                    <td></td>
                                    <td>Local con mesas testigo</td>
                                    <td></td>
                                    <td></td>
                                    <td> {{item.desde}}-{{item.hasta}}
                                         </td>
                                    <td> 
                                        <button type="button" class="btn btn-outline btn-primary btn-sm" onclick="window.location.href = '{{ path('fiscales_mesas',{'id':item.Id}) }}';">Mesas</button>
                                    </td>
                                </form>
                                </tr>
                                    {%endif%}
                                
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}    
{% block final %}
    <!-- DataTables JavaScript -->
    <script src="{{ asset('/vendor/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('/vendor/datatables-plugins/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('vendor/datatables-responsive/dataTables.responsive.js') }}"></script>
    <script>
                                            $(document).ready(function () {
                                                $('#dataTables-example').DataTable({
                                                    responsive: true
                                                });
                                            });
                                            function buscapadron(dni, nummesa) {
                                                $.getJSON("{{ path('padron') }}" + "?dni=" + dni, "", function (data, textStatus, jqxhr) {
                                                    $("#n_" + nummesa).val(data.nombre);
                                                    $("#m_" + nummesa).val(data.telefono);
                                                    $("#t_" + nummesa).val(data.mail);
                                                });
                                            }
    </script>
{% endblock %}
