{% extends "layout.html.twig" %}

{% block content %}
    {% include "navigator.html.twig" %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Circuitos</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Informacion de circuitos, tributarios y votantes
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>Seccion</th>
                                    <th>Circuito</th>
                                    <th>Tipo</th>
                                    <th>Nombre</th>
                                    <th>Tributa</th>
                                    <th>Intend.</th>
                                    <th>Cons. T.</th>
                                    <th>Cons. S.</th>
                                    <th>Votantes</th>
                                    <th>Mesas</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in circuitos%}
                                    {% if item.tipo == 'M' or item.tipo == 'C' or item.tipo == 'T'%}
                                        <tr class="odd gradeX">
                                            <td>{{item.sec}}</td>
                                            <td>{{item.cirnro}}{{item.cirlet}}</td>
                                            <td>{{item.tipo}}</td>
                                            <td>{{item.nomb}}</td>
                                            <td>{{item.cirnrotr}}{{item.cirlettr}}</td>
                                            <td>{{item.int}}</td>
                                            <td>{{item.cont}}</td>
                                            <td>{{item.cons}}</td>
                                            <td>{{item.votantes}}</td>
                                            <td>{{item.mesasd}}-{{item.mesash}}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}

                            </tbody>
                        </table>
                        <!-- /.table-responsive -->

                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#wrapper -->



{% endblock %}    

{% block final %}
    <!-- DataTables JavaScript -->
    <script src="{{ asset('/vendor/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('/vendor/datatables-plugins/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('vendor/datatables-responsive/dataTables.responsive.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').DataTable({
                responsive: true
            });
        });
    </script>


{% endblock %}


