{% extends "layout.html.twig" %}

{% block content %}
  {% include "navigator.html.twig" %}
  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Mesas testigo - Circuito
          {{circuito.nombre}}</h1>
      </div>
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-lg-12">
        <ol class="breadcrumb">
          <li>
            <a href='{{ path('circuitos',{'seccion':circuito.seccion_id}) }}'>Volver a
              {{circuito.nombre}}</a>
          </li>
           <li>
           Filtrar por: 
          </li>
           <li>
            <a href='?filtro=gobernador'>Gobernador</a>
          </li>
           <li>
            <a href='?filtro=diputado'>Diputado</a>
          </li>
           <li>
            <a href='?filtro=senador'>Senador</a>
          </li>
           <li>
            <a href='?filtro=intendente'>Intendente</a>
          </li>
           <li>
            <a href='?filtro=concejal'>Concejal</a>
          </li>
           <li>
            <a href='?filtro=diputado_nacional'>Diputado Nacional</a>
          </li>
           <li>
            <a href='?filtro=senador_nacional'>Senador Nacional</a>
          </li>
           <li>
            <a href='?filtro='>Todos</a>
          </li>
          <li>
            <a href='?exportar='>Exportar</a>
          </li>
        </ol>
        <div class="panel panel-default">
          <div class="panel-body">
            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
              <thead>
                <tr>
                  <th>Mesa</th>
                  <th>Localidad</th>
                  <th>Seccional</th>
                  <th>Escuela</th>
                  <th>Elec P.</th>
                  <th>Elec N.</th>
                  <th>Gob</th>
                  <th>Dip</th>
                  <th>Sen</th>
                  <th>Int</th>
                  <th>Con</th>
                  <th>Dip. NAC</th>
                  <th>Sen NAC</th>
                  <th>Responsable</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for item in testigos%}
                  <tr class="odd gradeX">
                    <td><input type="numeric" value="{{item.numero}}" size="3" id="id_{{item.numero}}"/>
                    <button type="button" 
                            onclick="$.getJSON('{{ path('testigo_accion',{'circuito':circuito.id}) }}?cambiar=1&origen={{item.numero}}&destino='+$('#id_{{item.numero}}').val(),'', function (data, textStatus, jqxhr) {alert(data);})" >Cambiar</button>
                    </td>

                    <td>{{item.c_nombre}}</td>
                    <td>{{item.sec_nombre}}</td>
                    <td>{{config.localmesa(item.numero)}}</td>
                    <td>{{item.electores_provincia}}</td>
                    <td>{{item.electores_nacion}}</td>
                    <td>
                      {% set value = 1 %}{%set claseboton='btn-info' %}{%set clasetilde='fa-check' %}
                      {% if item.gobernador == 0 %}
                        {%set value=0 %}{%set claseboton='btn-warning' %}{%set clasetilde='fa-times' %}
                        {%endif%}
                        <button type="button" class="btn {{claseboton}} btn-circle" value={{value}} name="G,{{item.id}}">
                          <i class="fa {{clasetilde}} fa-check"></i>
                        </button>
                      </td>
                      <td>
                        {% set value = 1 %}{%set claseboton='btn-info' %}{%set clasetilde='fa-check' %}
                        {% if item.diputado == 0 %}
                          {%set value=0 %}{%set claseboton='btn-warning' %}{%set clasetilde='fa-times' %}
                          {%endif%}
                          <button type="button" class="btn {{claseboton}} btn-circle" value={{value}} name="D,{{item.id}}">
                            <i class="fa {{clasetilde}} fa-check"></i>
                          </button>
                        </td>
                        <td>
                          {% set value = 1 %}{%set claseboton='btn-info' %}{%set clasetilde='fa-check' %}
                          {% if item.senador == 0 %}
                            {%set value=0 %}{%set claseboton='btn-warning' %}{%set clasetilde='fa-times' %}
                            {%endif%}
                            <button type="button" class="btn {{claseboton}} btn-circle" value={{value}} name="S,{{item.id}}">
                              <i class="fa {{clasetilde}} fa-check"></i>
                            </button>
                          </td>
                          <td>
                            {% set value = 1 %}{%set claseboton='btn-info' %}{%set clasetilde='fa-check' %}
                            {% if item.intendente == 0 %}
                              {%set value=0 %}{%set claseboton='btn-warning' %}{%set clasetilde='fa-times' %}
                              {%endif%}
                              <button type="button" class="btn {{claseboton}} btn-circle" value={{value}} name="I,{{item.id}}">
                                <i class="fa {{clasetilde}} fa-check"></i>
                              </button>
                            </td>
                            <td>
                              {% set value = 1 %}{%set claseboton='btn-info' %}{%set clasetilde='fa-check' %}
                              {% if item.concejal == 0 %}
                                {%set value=0 %}{%set claseboton='btn-warning' %}{%set clasetilde='fa-times' %}
                                {%endif%}
                                <button type="button" class="btn {{claseboton}} btn-circle" value={{value}} name="C,{{item.id}}">
                                  <i class="fa {{clasetilde}} fa-check"></i>
                                </button>
                              </td>
                              <td>
                                {% set value = 1 %}{%set claseboton='btn-info' %}{%set clasetilde='fa-check' %}
                                {% if item.diputado_nacional == 0 %}
                                  {%set value=0 %}{%set claseboton='btn-warning' %}{%set clasetilde='fa-times' %}
                                  {%endif%}
                                  <button type="button" class="btn {{claseboton}} btn-circle" value={{value}} name="DN,{{item.id}}">
                                    <i class="fa {{clasetilde}} fa-check"></i>
                                  </button>
                                </td>
                                <td>
                                  {% set value = 1 %}{%set claseboton='btn-info' %}{%set clasetilde='fa-check' %}
                                  {% if item.senador_nacional == 0 %}
                                    {%set value=0 %}{%set claseboton='btn-warning' %}{%set clasetilde='fa-times' %}
                                    {%endif%}
                                    <button type="button" class="btn {{claseboton}} btn-circle" value={{value}} name="SN,{{item.id}}">
                                      <i class="fa {{clasetilde}} fa-check"></i>
                                    </button>
                                  </td>
                                  <td>
                                    <form action='{{ path('testigo_accion',{'circuito':circuito.id}) }}' method=GET>
                                      {{item.responsable}}<br>
                                      <input type=text value="" name=responsable id="r_{{item.id}}">
                                      <input type=hidden value="{{item.id}}" name=mesa>
                                      <button type="button" onclick="buscapadron({{item.id}} );" >Buscar DNI</button>  
                                      <input type=submit class="btn btn-info" value=Grabar />
                                    </form>
                                  </td>
                                  <td>
                                    {%if config.cerrada==0%}
                                      <button type="button" class="btn btn-danger" onclick="window.location.href = '{{ path('testigo_accion',{'circuito':circuito.id}) }}?borrar={{item.id}}';">Borrar</button>
                                    
                                    {%endif%}
                                    </td>
                                  </tr>
                                {% endfor %}

                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          Nueva mesa testigo
                        </div>
                        <div class="panel-body">
                          {%if config.cerrada==0%}
                            <form role="form" action="{{path('testigo_accion',{'circuito':circuito.id})}}" method="GET">
                              <div class="form-group">
                                <label>Mesa
                                </label>
                                <input class="form-control" name="numero" type="number" required size="4" min="{{circuito.mesadesde}}" max="{{circuito.mesahasta}}">
                                <label>Electores provincia</label>
                                <input class="form-control" name="electores_provincia" required type="number" size="4" min="1">
                                <label>Electores nacion</label>
                                <input class="form-control" name="electores_nacion" required type="number" size="4" min="1">
                                {%if seccionales|length >0%}
                                  <select name="seccional_id">
                                    {% for item in seccionales %}
                                      <option value="{{item.id}}">{{item.nombre}}</option>
                                    {% endfor %}
                                  </select>
                                  {%else%}
                                  <input type="hidden" name="seccional_id" value="0">
                                  {%endif%}

                                  <input type="submit" class="btn btn-primary" name=nueva value="Crear">
                                </div>
                              </form>
                              {%else%}
                              Configuracion cerrada
                              {%endif%}
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endblock %}

                    {% block final %}
                      <script src="{{ asset('/vendor/datatables/js/jquery.dataTables.min.js') }}"></script>
                      <script src="{{ asset('/vendor/datatables-plugins/dataTables.bootstrap.min.js') }}"></script>
                      <script src="{{ asset('vendor/datatables-responsive/dataTables.responsive.js') }}"></script>
                      <script>
                        $(document).ready(function() {
                         // $('#dataTables-example').DataTable({responsive: false});
                        });
                        $(".btn-circle").click(function() {
                          if (this.value == 0) {
                            $.post("{{ path('mesacargo',{'accion': 'cargoagregar'}) }}", {
                              'datos': this.name
                            }, function(data, textStatus, jqxhr) {
                              // validar retorno
                            });
                            this.value = 1;
                            $(this).attr("class", 'btn btn-info btn-circle');
                            $(this).children().attr("class", "fa fa-check");
                          } else {
                            $.post("{{ path('mesacargo',{'accion': 'cargoquitar'}) }}", {
                              'datos': this.name
                            }, function(data, textStatus, jqxhr) {
                              //validar retorno
                            });
                            this.value = 0;
                            $(this).attr("class", 'btn btn-warning btn-circle');
                            $(this).children().attr("class", "fa fa-times");
                          }
                        });
                        
                        
                          function buscapadron(nummesa) {
                                               $.getJSON("{{ path('padron') }}" + "?dni=" + $("#r_" + nummesa).val(), "", function (data, textStatus, jqxhr) {
                                                    $("#r_" + nummesa).val(data.nombre + '-'+data.telefono+'-'+data.mail);
                                                });
                                            }
                      </script>
                    {% endblock %}
