{% extends "layout.html.twig" %}

{% block content %}
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">Gestion de mesas testigos</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            pbussi
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i>
                    <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="{{ path('mesacarga_elige') }}">
                            <i class="fa fa-edit fa-fw"></i>
                            Cargar mesa</a>
                    </li>
                    <li class="divider"></li>                    <li>
                        <a href="{{ path('homepage') }}">
                            <i class="fa fa-gear fa-fw"></i>
                            Admin</a>
                    </li>
                    <li class="divider"></li>

                    <li>
                        <a href="{{ path('logout') }}">
                            <i class="fa fa-sign-out fa-fw"></i>
                            Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Carga mesa</h1>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% if mensaje %}
                        {% if mensaje.codigo==0 %}<div class="alert alert-success alert-dismissable">{%endif%}
                            {% if mensaje.codigo==1 %}<div class="alert alert-danger alert-dismissable">{%endif%}
                                {% if mensaje.codigo==0 %}<div class="alert alert-warning alert-dismissable">{%endif%}
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    {{mensaje.texto}} 
                                </div>
                            {% endif %}
                                    <div class="row">       
                                        <form id="formu" method="POST">
                                            <input class="form-control inputs" id=nro name=nro value="" required type="number" length="3" size="3" min="0"  style='float:left;width:50%'>

                                            <input type="submit" value="Cargar" class="btn btn-primary" style='float:left';>
                                        </form>     
                                    </div>  
                                        {% if  mesa is defined %}

                                      
                                        <div class="row"><h3>Mesa {{mesa.numero}}</h3></div>

                                        {%if mesa.gobernador==1%}  
                                            <button type="button" class="btn btn-primary btn-lg btn-block"
                                                    onclick="window.location.href = '{{ path('mesacarga',{'nro':mesa.numero,'categoria': 'G'}) }}';">
                                                Gobernador
                                            </button>
                                        {%endif%}  
                                        {%if mesa.diputado==1%}   
                                            <button type="button" class="btn btn-primary btn-lg btn-block"
                                                    onclick="window.location.href = '{{ path('mesacarga',{'nro':mesa.numero,'categoria': 'D'}) }}';">
                                                Diputado
                                            </button>
                                        {%endif%}   
                                        {%if mesa.senador==1%}  

                                            <button type="button" class="btn btn-primary btn-lg btn-block"
                                                    onclick="window.location.href = '{{ path('mesacarga',{'nro':mesa.numero,'categoria': 'S'}) }}';">
                                                Senador
                                            </button>
                                        {%endif%}  
                                        {%if mesa.intendente==1%}  
                                            <button type="button" class="btn btn-primary btn-lg btn-block"
                                                    onclick="window.location.href = '{{ path('mesacarga',{'nro':mesa.numero,'categoria': 'I'}) }}';">
                                                Intendente
                                            </button>
                                        {%endif%}  
                                        {%if mesa.concejal==1%}
                                            <button type="button" class="btn btn-primary btn-lg btn-block"
                                                    onclick="window.location.href = '{{ path('mesacarga',{'nro':mesa.numero,'categoria': 'C'}) }}';">
                                                Concejal
                                            </button>
                                        {%endif%}
                                        {%if mesa.diputado_nacional==1%}
                                            <button type="button" class="btn btn-primary btn-lg btn-block"
                                                    onclick="window.location.href = '{{ path('mesanacionalcarga',{'nro':mesa.numero,'categoria': 'D'}) }}';">
                                                Diputado Nacional
                                            </button>
                                        {%endif%}
                                        {%if mesa.senador_nacional==1%}
                                            <button type="button" class="btn btn-primary btn-lg btn-block"
                                                    onclick="window.location.href = '{{ path('mesanacionalcarga',{'nro':mesa.numero,'categoria': 'S'}) }}';">
                                                Senador Nacional
                                            </button>
                                        {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}    

        {% block final %}
            <script>
                $('#nro').focus();
            </script>
        {% endblock %}


