{% extends "layout.html.twig" %}

{% block content %}
    {% include "navigator.html.twig" %}
    {% set total_gobernador=0 %}
    {% set total_diputado=0 %}
    {% set total_senador=0 %}
    {% set total_intendente=0 %}
    {% set total_concejal=0 %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Mesa {{ mesa.numero }}</h1>
                <li>
                    <a href="{{ path('mesanacional',{'nro':mesa.numero}) }}">Mesas nacional</a>
                </li>
            </div>
        </div>
        {% if mensaje is defined %}   
            <div {% if mensaje.codigo==0 %}class="alert alert-success alert-dismissable"
            {%endif%}
            {% if mensaje.codigo==1 %}class="alert alert-danger alert-dismissable"{%endif%}
            {% if mensaje.codigo==2 %}class="alert alert-warning alert-dismissable"{%endif%}
            >
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            {{mensaje.texto}} 
        </div>
        {%else%}
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Ubicacion:  {{mesa.seccion_nombre}} - Circuito:{{mesa.circuito_nombre}}  Electores:{{mesa.electores_provincia}} 
                        </div>

                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Partido</th>
                                        {% if configuracion.tipo==0%}<th>Lista</th>{%endif%}
                                        {%if mesa.gobernador==1%}<th>Gobernador</th>{%endif%}
                                        {%if mesa.diputado==1%}<th>Diputados</th>{%endif%}
                                        {%if mesa.senador==1%}<th>Senador</th>{%endif%}
                                        {%if mesa.intendente==1%}<th>Intendente</th>{%endif%}
                                        {%if mesa.concejal==1%}<th>Concejal</th>{%endif%}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in mascara %}

                                        <tr class="odd gradeX" id="r_{{loop.index}}">
                                            <td>
                                                {{ item.datos.id_partido }} - {{ item.datos.nombre_partido }}
                                            </td>
                                            {% if configuracion.tipo==0%}
                                                <td>
                                                    {{ item.datos.id_lista }} - {{ item.datos.nombre_lista }}

                                                </td>
                                            {%endif%} 
                                            {%if mesa.gobernador==1%}
                                                <td>
                                                    {% if 'G' in item.cargos %}
                                                        {% set total_gobernador=total_gobernador+votos[item.datos.id].gobernador%}
                                                        {{votos[item.datos.id].gobernador}}{%else%}-{% endif %}
                                                    </td>
                                                {%endif%}       
                                                {%if mesa.diputado==1%}        
                                                    <td>
                                                        {% if 'D' in item.cargos %}
                                                            {% set total_diputado=total_diputado+votos[item.datos.id].diputado%}
                                                            {{votos[item.datos.id].diputado}}{%else%}-{% endif %}
                                                        </td>
                                                    {%endif%}       
                                                    {%if mesa.senador==1%}        
                                                        <td>
                                                            {% if 'S' in item.cargos %}
                                                                {% set total_senador=total_senador+votos[item.datos.id].senador%}
                                                                {{votos[item.datos.id].senador}}{%else%}-{% endif %}
                                                            </td>
                                                        {%endif%}       
                                                        {%if mesa.intendente==1%}        

                                                            <td>
                                                                {% if 'I' in item.cargos %}
                                                                    {% set total_intendente=total_intendente+votos[item.datos.id].intendente%}
                                                                    {{votos[item.datos.id].intendente}}{%else%}-{% endif %}
                                                                </td>                                              
                                                            {%endif%}       
                                                            {%if mesa.concejal==1%}        
                                                                <td>
                                                                    {% if 'C' in item.cargos %}
                                                                        {% set total_concejal=total_concejal+votos[item.datos.id].concejal%}
                                                                        {{votos[item.datos.id].concejal}}{%else%}-{% endif %}
                                                                    </td> 
                                                                </tr>

                                                            {%endif%}               
                                                        {% endfor %}

                                                        <tr class="odd gradeX">
                                                            <td>TOTAL</td>
                                                            {% if configuracion.tipo==0%}
                                                                <td></td>
                                                            {%endif%} 
                                                            {%if mesa.gobernador==1%}<td>{{total_gobernador}}</td>{%endif%}
                                                            {%if mesa.diputado==1%}   <td>{{total_diputado}}</td>{%endif%}
                                                            {%if mesa.senador==1%}   <td>{{total_senador}}</td>{%endif%}

                                                            {%if mesa.intendente==1%}<td>{{total_intendente}}</td> {%endif%}                                             
                                                            {%if mesa.concejal==1%}<td>{{total_concejal}}</td>{%endif%} 
                                                        </tr>




                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {%endif%}
                                </div>

                                {% endblock %}    

                                    {% block final %}
                                        <!-- DataTables JavaScript -->
                                        <script src="{{ asset('/vendor/datatables/js/jquery.dataTables.min.js') }}"></script>
                                        <script src="{{ asset('/vendor/datatables-plugins/dataTables.bootstrap.min.js') }}"></script>
                                        <script src="{{ asset('vendor/datatables-responsive/dataTables.responsive.js') }}"></script>
                                        <script>
                                            {#
                                    
                                            $(window).bind('load', function () {
                                                $('img').each(function () {
                                                    if ((typeof this.naturalWidth != "undefined" &&
                                                            this.naturalWidth == 0)
                                                            || this.readyState == 'uninitialized') {
                                                        $(this).attr('src', '{{asset('imagenes')}}/lol.png');
                                                    }
                                                });
                                            });
                                            $(".btn-circle").click(function () {
                                                if (this.value == 1) {
                                                    $.post("{{ path('filtro',{'accion': 'agregar'}) }}", {'datos': this.name}, function (data, textStatus, jqxhr) {
                                                        // validar retorno
                                                    });
                                                    this.value = 0;
                                                    $(this).attr("class", 'btn btn-warning btn-circle');
                                                    $(this).children().attr("class", "fa fa-times");
                                                } else {
                                                    $.post("{{ path('filtro',{'accion': 'quitar'}) }}", {'datos': this.name}, function (data, textStatus, jqxhr) {
                                                        //validar retorno
                                                    });
                                                    this.value = 1;
                                                    $(this).attr("class", 'btn btn-info btn-circle');
                                                    $(this).children().attr("class", "fa fa-check");
                                                }
                                            });
                                        </script>
                                    #}

                                        {% endblock %}


