{% extends "layout.html.twig" %}


{% block content %}
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{path('homepage')}}">Gestion de mesas testigos</a>
        </div>
        <!-- /.navbar-header -->
        <ul class="nav navbar-top-links navbar-right">
            {{session.usuario}}
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i>
                    <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="{{ path('mesacarga_elige') }}">
                            <i class="fa fa-edit fa-fw"></i>
                            Cargar mesa</a>
                    </li>   
                    <li class="divider"></li>                    
                    <li>
                        <a href="{{ path('homepage') }}">
                            <i class="fa fa-gear fa-fw"></i>
                            Inicio</a>
                    </li>
                    <li class="divider"></li>

                    <li>
                        <a href="{{ path('logout') }}">
                            <i class="fa fa-sign-out fa-fw"></i>
                            Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="page-header">Mesa {{ mesa.numero }} - Escuela: {{config.localmesa(mesa.numero)}}
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form id="formu" method="POST">
                    <table width="100%" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Partido</th>
                                {% if configuracion.tipo==0%}<th>Lista</th>{%endif%}
                                    {%if configuracion.intermedia==1%}
                                        {%if categoria=='G'%}<th>Gobernador</th>{%endif%}
                                    {%if categoria=='D'%}<th>Diputados</th>{%endif%}
                                    {%if categoria=='S'%}<th>Senador</th>{%endif%}
                                    {%endif%}
                                    {%if categoria=='I'%}<th>Intendente</th>{%endif%}
                                {%if categoria=='C'%}<th>Concejal</th>{%endif%}
                            </tr>
                        </thead>
                        <tbody id='tablacarga'>
                            {% for item in mascara %}
                                <tr class="odd gradeX" id="r_{{loop.index}}">
                                    <td>
                                        {{ item.datos.id_partido }} - {{ item.datos.nombre_partido }}
                                    </td>
                                    {% if configuracion.tipo==0%}
                                        <td>
                                            {{ item.datos.id_lista }} - {{ item.datos.nombre_lista }}
                                        </td>
                                    {%endif%} 
                                    {%if configuracion.intermedia==1%}
                                        {%if categoria=='G'%}
                                            <td>
                                                {% if 'G' in item.cargos %}
                                                    <input class="form-control inputs" {% if item.datos.id_partido==99997 %} id='otros'{%endif%}  name="G,{{item.datos.id}}" value="" type="number" size="3" min="0" max="{{mesa.electores_provincia}}">
                                                {% endif %}
                                            </td>
                                        {%endif%} 
                                        {%if categoria=='D'%}
                                            <td>
                                                {% if 'D' in item.cargos %}
                                                    <input class="form-control inputs" {% if item.datos.id_partido==99997 %} id='otros'{%endif%} value="" name="D,{{item.datos.id}}" type="number" size="3" min="0" max="{{mesa.electores_provincia}}">
                                                {% endif %}
                                            </td>
                                        {%endif%} 
                                        {%if categoria=='S'%}
                                            <td>
                                                {% if 'S' in item.cargos %} 
                                                    <input class="form-control inputs" {% if item.datos.id_partido==99997 %} id='otros'{%endif%} value="" name="S,{{item.datos.id}}" type="number" size="3" min="0" max="{{mesa.electores_provincia}}">
                                                {% endif %}
                                            </td>
                                        {%endif%} 
                                    {%endif%}
                                    {%if categoria=='I'%}
                                        <td>
                                            {% if 'I' in item.cargos %}
                                                <input class="form-control inputs" {% if item.datos.id_partido==99997 %} id='otros'{%endif%} value='' name="I,{{item.datos.id}}" type="number" size="3" min="0" max="{{mesa.electores_provincia}}">
                                            {% endif %}

                                        </td>      
                                    {% endif %}                                        
                                    {%if categoria=='C'%}

                                        <td>
                                            {% if 'C' in item.cargos %}
                                                <input class="form-control inputs" {% if item.datos.id_partido==99997 %} id='otros'{%endif%} value="" name="C,{{item.datos.id}}" type="number" size="3" min="0" max="{{mesa.electores_provincia}}">
                                            {% endif %}
                                        </td> 
                                    {% endif %}
                                </tr>
                            {% endfor %}


                            <tr class="odd gradeX" id="total">
                                <td>
                                    TOTAL
                                </td> {% if configuracion.tipo==0%} <td></td>{%endif%}
                                <td>
                                    <input class="form-control inputs" value="" type="number" id='total_votos' name="total_votos" size="3">
                                </td>          
                            </tr>
                        </tbody>
                    </table>
                    <input type="submit" value="Grabar" class="btn btn-primary btn-lg btn-block">        
                </form>

            </div>
        </div>
        <div>
        {% endblock %}    

        {% block final %}
            <!-- DataTables JavaScript -->
            <script src="{{ asset('/vendor/datatables/js/jquery.dataTables.min.js') }}"></script>
            <script src="{{ asset('/vendor/datatables-plugins/dataTables.bootstrap.min.js') }}"></script>
            <script src="{{ asset('vendor/datatables-responsive/dataTables.responsive.js') }}"></script>
            <script>

                $(document).ready(function () {
                    $('#otros').hide();
                    i = 1;
                    $.each($('#tablacarga').children(), function (key, fila) {
                        //alert(fila.cells.length);
                        texto = fila.cells[fila.cells.length - 1].innerHTML;
                        if (texto.indexOf('input') === -1) {
                            $('#r_' + i).hide();
                        }
                        i++;
                    });

                    $('.inputs')[0].focus();
                });

                $('.inputs').keydown(function (e) {
                    if (e.keyCode == 13) {
                        form = $('#formu');
                        focusable = form.find('input,select,textarea').filter(':visible');
                        next = focusable.eq(focusable.index(this) + 1);
                        if (next.length) {
                            next.focus();
                        } else {
                            form.submit();
                        }
                        return false;
                    }
                }
                );

                $("#formu").submit(function (event) {
                    if (!(parseInt($('#total_votos').val()) > 0)) {
                        alert('Ingrese el total de votos');
                        event.preventDefault();
                        return;
                    }
                    if (parseInt($('#total_votos').val()) >{{ mesa.electores_provincia }} ) {
                        alert('El total de votos supera los {{ mesa.electores_provincia }} (total de electores)');
                        event.preventDefault();
                        return;
                    }

                    suma = 0;
                    $.each($('.inputs'), function (key, fila) {
                        if ((parseInt(fila.value) > 0) && (fila.name != 'total_votos'))
                            suma += parseInt(fila.value);
                    });
                    otros = parseInt($('#total_votos').val()) - suma;

                    if (!(otros >= 0)) {
                        alert('La suma de los votos por partido/lista supera el total informado ');
                        event.preventDefault();
                        return;
                    }


                    $('#otros').val(otros);
                    //event.preventDefault();
                });
                {% if mensaje %}
                    {% if mensaje.codigo==1 %}
                        var r = confirm("{{mensaje.texto}}");
                        if (r == true) {
                            
                        } else {
                            window.location.href="{{path('mesacarga_elige')}}";
                        }
                    {% endif%}
                {% endif%}
            </script>


        {% endblock %}


