{% extends "layout.html.twig" %}

{% block content %}
    {% include "navigator.html.twig" %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Carga por Ciudad</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b>Ultima actualizaci&oacute;n: {{config.ultimaactualizacion}}</b>
                    </div>
                    <div class="panel-body">
                        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>INTENDENTE cargadas</th>
                                    <th>INTENDENTE faltantes</th>
                                    <th>INTENDENTE %</th>
                                    <th>CONCEJALES cargadas</th>
                                    <th>CONCEJALES faltantes</th>
                                    <th>CONCEJALES %</th>
                                    <th>Reporte</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for item in circuitos%}
                                    <tr class="odd gradeX">
                                        <td>{{item.datos.nombre}}</td>
                                        <td>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title" style="text-align:right;">
                                                        <a data-toggle="collapse" data-parent="#concejal_I_C{{item.datos.id}}" href="#collapse_I_C{{item.datos.id}}" aria-expanded="false" class="collapsed">{{item.intendente.cargadas|length}}</a>
                                                    </h4>
                                                </div>
                                                <div id="collapse_I_C{{item.datos.id}}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                    <div class="panel-body">
                                                        {% for item2 in item.intendente.cargadas %}
                                                            <button type="button" class="btn btn-primary"
                                                                    onclick="window.location.href = '{{path('mesa',{nro:item2.numero})}}'">{{item2.numero}}</button>
                                                        {%endfor%}
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title" style="text-align:right;">
                                                        <a data-toggle="collapse" data-parent="#concejal_I_N{{item.datos.id}}" href="#collapse_I_N{{item.datos.id}}" aria-expanded="false" class="collapsed">{{item.intendente.nocargadas|length}}</a>
                                                    </h4>
                                                </div>
                                                <div id="collapse_I_N{{item.datos.id}}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                    <div class="panel-body">
                                                        {% for item2 in item.intendente.nocargadas %}
                                                            <button type="button" class="btn btn-outline btn-primary btn-xs"
                                                                    onclick="window.location.href = '{{path('mesa',{nro:item2.numero})}}'">{{item2.numero}}</button>
                                                        {%endfor%}
                                                    </div>
                                                </div>
                                            </div>

                                        </td>
                                        <td><h4>
                                                {%if (item.intendente.cargadas|length + item.intendente.nocargadas|length )>0%}
                                                    {{(item.intendente.cargadas|length / (item.intendente.cargadas|length + item.intendente.nocargadas|length )*100)|number_format(2, '.', ',') }}%
                                                </h4></td>
                                            {%endif%}
                                        <td>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title" style="text-align:right;">
                                                        <a data-toggle="collapse" data-parent="#concejal_C_C{{item.datos.id}}" href="#collapse_C_C{{item.datos.id}}" aria-expanded="false" class="collapsed">{{item.concejal.cargadas|length}}</a>
                                                    </h4>
                                                </div>
                                                <div id="collapse_C_C{{item.datos.id}}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                    <div class="panel-body">
                                                        {% for item2 in item.concejal.cargadas %}
                                                            <button type="button" class="btn btn-outline btn-primary btn-xs"
                                                                    onclick="window.location.href = '{{path('mesa',{nro:item2.numero})}}'">{{item2.numero}}</button>
                                                        {%endfor%}
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title" style="text-align:right;">
                                                        <a data-toggle="collapse" data-parent="#concejal_C_N{{item.datos.id}}" href="#collapse_C_N{{item.datos.id}}" aria-expanded="false" class="collapsed">{{item.concejal.nocargadas|length}}</a>
                                                    </h4>
                                                </div>
                                                <div id="collapse_C_N{{item.datos.id}}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                    <div class="panel-body">
                                                        {% for item2 in item.concejal.nocargadas %}
                                                            <button type="button" class="btn btn-outline btn-primary btn-xs"
                                                                    onclick="window.location.href = '{{path('mesa',{nro:item2.numero})}}'">{{item2.numero}}</button>
                                                        {%endfor%}
                                                    </div>
                                                </div>
                                            </div>

                                        <td><h4>
                                                {%if (item.concejal.cargadas|length + item.concejal.nocargadas|length )>0%}
                                                    {{(item.concejal.cargadas|length / (item.concejal.cargadas|length + item.concejal.nocargadas|length )*100)|number_format(2, '.', ',') }}%
                                                {%endif%}
                                            </h4></td>
                                        <td><button type="button" class="btn btn-outline btn-primary btn-xs"
                                                    onclick="window.location.href = '{{path('rep_concejales_seccional',{tipo:'graficos',id:item.datos.id})}}'">Resultados concejal</button>
                                            <button type="button" class="btn btn-outline btn-primary btn-xs"
                                                    onclick="window.location.href = '{{path('rep_concejales_seccional',{tipo:'votos_grafico',id:item.datos.id})}}'">Grafico Seccionales</button>
                                               <button type="button" class="btn btn-outline btn-primary btn-xs"
                                                    onclick="window.location.href = '{{path('faltante_circuito',{circuito:item.datos.id})}}'">Reporte de Faltantes</button>
                                        
                                                    <button type="button" class="btn btn-outline btn-primary btn-xs"
                                                    onclick="window.location.href = '{{path('avance_circuito',{circuito:item.datos.id})}}'">Reporte de Avance</button>
                                        </td>
                                    </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block final %}
    <!-- DataTables JavaScript -->
    <script src="{{ asset('/vendor/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('/vendor/datatables-plugins/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('vendor/datatables-responsive/dataTables.responsive.js') }}"></script>
    <script>
                                                                    $(document).ready(function () {
                                                                        $('#dataTables-example').DataTable({
                                                                            responsive: true
                                                                        });
                                                                    });
    </script>
{% endblock %}
