{% extends "layout.html.twig" %}

{% block content %}
    {% include "navigator.html.twig" %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">

                <h1>Concejales</h1>
                <ul class="skill-list">

                    {% for item in resultados%} 
                        <li class="skill">
                        <h3>{{item.partido.nombre}}({{item.partido.cuenta}})</h3>
                            {% for item2 in item.listas%}
                                    <p style="float:left;margin: 5px;line-height: 30px;font-size: 20px;width: 45%">{{item2.nombre}}({{item2.cuenta}})</p>
                                    <progress class="skill-{{loop.index}}" max="100" value="{{item2.cuenta/item.partido.cuenta*100}}">
                                                                <strong>Votos</strong>
                                    </progress>
                            {%endfor%}  
                        </li>
                    {%endfor%}

                </ul>    


            </div>
        </div>
    </div>    
{% endblock %}    
{% block final %}
    <style>
        .unique:before {
            content: attr(data-label);
        }
        progress, progress[role] {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border: none;
            background-size: auto;
            height: 50px;
            width: 50%;
        }
        .skill-list {
            list-style: none;
            margin: 0;
            padding: 1em;
        }

        .skill {
            margin-bottom: 1em;
            position: relative;
            h3 {
                color: #fff;
                left: 1em;
                line-height: 1;
                position: absolute;
                top: 1em;
            }
            ::-webkit-progress-value { 
                -webkit-animation: bar-fill 2s;
                width: 0px;
            }
        }

        // Style the bar colors
        .skill-1::-webkit-progress-value {
            background: #ff9e2c;
        }

        .skill-1::-moz-progress-bar {
            background: #ff9e2c;
        }

        .skill-2::-webkit-progress-value {
            background: #4ecdc4;
        }

        .skill-2::-moz-progress-bar {
            background: #4ecdc4;
        }

        .skill-3::-webkit-progress-value {
            background: #ff6b6b;
        }

        .skill-3::-moz-progress-bar {
            background: #ff6b6b;
        }

        // Animation Keyframes
        @-webkit-keyframes bar-fill {
            0% { width: 0; }
        }

        @keyframes bar-fill {
            0% { width: 0; }
        }
    </style>

{% endblock %}


