<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <style type="text/css">
            #container {
                height: 400px; 
                min-width: 310px; 
                max-width: 800px;
                margin: 0 auto;
            }
        </style>
        <title>Highcharts Demo</title>
    </head>

    <body>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/highcharts-3d.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <div>
            <div style='width: 65%;float: left'>
                <h1 class="page-header">Concejales {{circuito.nombre}}</h1>
            </div>
            <div style='float: right;width:35%'>
               {%if session.admin==1%} <button type="button" class="btn btn-sm btn-default"
                        onclick="window.location.href = '{{ path('rep_concejales_seccional',{'id':circuito.id,tipo:'votos'}) }}';">Votos</button>
                    <button type="button" class="btn btn-sm btn-default"
                            onclick="window.location.href = '{{ path('rep_concejales_seccional',{'id':circuito.id,tipo:'porcentajes'}) }}';">Porcentaje</button>
                
                <button type="button" class="btn btn-sm btn-default"
                        onclick="window.location.href = '{{ path('rep_concejales_seccional',{'id':circuito.id,tipo:'porcentajes_ponderado'}) }}';">Porc. Ponderado</button>
                {%endif%}
                <button type="button" class="btn btn-sm btn-default"
                        onclick="window.location.href = '{{ path('rep_concejales_seccional',{'id':circuito.id,tipo:'graficos'}) }}';">Gr&aacute;fico</button>
                <button type="button" class="btn btn-sm btn-default"
                        onclick="window.location.href = '{{ path('rep_concejales_seccional',{'id':circuito.id,tipo:'distribucion'}) }}';">Distribución</button>
                <button type="button" class="btn btn-sm btn-default"
                        onclick="window.location.href = '{{ path('rep_concejales_seccional',{'id':circuito.id,tipo:'avance'}) }}';">Avance</button>
                <button type="button" class="btn btn-sm btn-default"
                        onclick="window.location.href = '{{ path('rep_circuito') }}';">Home</button>
           </div>
        </div>


        <div id="container" style="height: 800px" width="100%"></div>

        <script>

            Highcharts.chart('container', {
                chart: {
                    type: 'column',
                    options3d: {
                        enabled: true,
                        alpha: 10,
                        beta: 8,
                        depth: 42
                    }
                },
                title: {
                    text: 'Votos seccionales'
                },
                subtitle: {
                    text: 'Sistema METES'
                },
                plotOptions: {
                    column: {
                        depth: 25
                    }
                },
                xAxis: {
                    categories: [{% for clave,item in seccionales %}'{{item}}',{%endfor%} ]
                },
                yAxis: {
                    title: {
                        text: null
                    }
                },
                series: [{% for clave,item in datos %}
                    {
                        name: '{{clave}}',
                        data: [{% for item2 in item %}{{item2}},{%endfor%} ]

                    },{%endfor%}
                ]
            });
        </script> 
    </body>
</html>
