<div style='float: right;width:35%'>
    {%if session.admin==1%}
        <button type="button" class="btn btn-sm btn-default"
                onclick="window.location.href = '{{ path('rep_gobernador_seccion',{'id':1,tipo:'votos'}) }}';">Votos</button>
        <button type="button" class="btn btn-sm btn-default"
                onclick="window.location.href = '{{ path('rep_gobernador_seccion',{'id':1,tipo:'porcentajes'}) }}';">Porcentaje</button>
        <button type="button" class="btn btn-sm btn-default"
                onclick="window.location.href = '{{ path('rep_gobernador_seccion',{'id':1,tipo:'porcentajes_ponderado'}) }}';">Porc. Ponderado</button>
    {%endif%}
    <button type="button" class="btn btn-sm btn-default"
            onclick="window.location.href = '{{ path('rep_gobernador_seccion',{'id':1,tipo:'graficos'}) }}';">Gr&aacute;fico</button>
    <button disabled type="button" class="btn btn-sm btn-default"
            onclick="window.location.href = '{{ path('rep_gobernador_seccion',{'id':1,tipo:'distribucion'}) }}';">Distribución</button>
    <button type="button" class="btn btn-sm btn-default"
            onclick="window.location.href = '{{ path('rep_gobernador_seccion',{'id':1,tipo:'avance'}) }}';">Avance</button>
    <button type="button" class="btn btn-sm btn-default"
            onclick="window.location.href = '{{ path('rep_provincia') }}';">Home</button>
</div>
