<!DOCTYPE html>
<html>
    <head>
        <style>

            .container{
                width:100%;
                font-family: Arial;
            }

            .record{
                float: left;
                width: 100%;
                border: 1px solid #ccc;
                background-color: #f0f0f0;
                margin-bottom: 2px;
                -moz-border-radius: 0px 10px 10px 0px;
                -moz-border-radius: 0px 10px 10px 0px;
            }

            .bar {
                background-color: red;
                float: left;
                clear: left;
                height: 50px;
            }

            .bar span{
                font-size: 18px;
                font-weight: bold;
                color: #fff;
                float: left;
                margin-left: 5px;
                margin-top: 7px;
            }

            .p{
                padding-top: 3px;
                float: right;
                color: #6D8591;
                clear: right;
                font-size: 12px;
                font-weight: bold;
                height: 25px;
            }

            .p span{
                font-size: 18px;
                font-weight: bold;
                float: left;
                margin-right: 5px;
                margin-top: 5px;
            }

        </style>
    </head>
    <body>
        <div class="container" style="margin-bottom:20px;">
            <div style='width: 55%;float: left'>
                <h1 style="margin-top:0;margin-bottom: 0">Concejales {{circuito.nombre}}- PORCENTAJES</h1>
            </div>
            <div style='float: left;width:35%;'>
                <button type="button" class="btn btn-sm btn-default"
                        onclick="window.location.href = '{{ path('rep_concejales_seccional',{'id':circuito.id,tipo:'votos'}) }}';">Votos</button>
                <button type="button" class="btn btn-sm btn-default"
                        onclick="window.location.href = '{{ path('rep_concejales_seccional',{'id':circuito.id,tipo:'porcentajes'}) }}';">Porcentaje</button>
                <button type="button" class="btn btn-sm btn-default"
                        onclick="window.location.href = '{{ path('rep_concejales_seccional',{'id':circuito.id,tipo:'porcentajes_ponderado'}) }}';">Porc. Ponderado</button>
                <button type="button" class="btn btn-sm btn-default"
                        onclick="window.location.href = '{{ path('rep_concejales_seccional',{'id':circuito.id,tipo:'graficos'}) }}';">Gr&aacute;fico</button>
                <button type="button" class="btn btn-sm btn-default"
                        onclick="window.location.href = '{{ path('rep_concejales_seccional',{'id':circuito.id,tipo:'distribucion'}) }}';">Distribución</button>
                <button type="button" class="btn btn-sm btn-default"
                        onclick="window.location.href = '{{ path('homepage') }}';">Home</button>
            </div>
        </div>
        <div style="clear: both;height:5px;"></div>

            {% for clave,item in totales %}
                {%if loop.index>0%}
                 <div class="container">   
                    <div style="width:45%;float:left;text-align:right;">
                     <p style="float:left;font-size: 18px; font-weight: bold;margin-right: 5px; margin-top: 13px;width:90%;">{{clave}}</p></span>
                    {%if partidos[item.id].logo!=""%}
                    <img src="data:image/gif;base64,{{partidos[item.id].logo}}" width="50px" style="float:right;"/>{%endif%}

                    </div>
                    <div style="width:45%;float:left;text-align:left;">
                        <div class="record"><div class="bar" style="width:{{item.porcentaje}}%;"><span></span></div><div class="p"><span>{{item.porcentaje|number_format(2, '.', ',')}}%</span></div></div>
                    </div>
                   </div> 
                    <div style="clear: both;height:5px;"></div>
                {%endif%}
            {%endfor%}

    </body>
</html>

{#<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <style type="text/css">
            #container {
                height: 400px; 
                min-width: 310px; 
                max-width: 800px;
                margin: 0 auto;
            }
        </style>
        <title>Highcharts Demo</title>
    </head>

    <body>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/highcharts-3d.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <div>
            <div style='width: 65%;float: left'>
                <h1 class="page-header">Concejales {{circuito.nombre}}- PORCENTAJES</h1>
            </div>
            <div style='float: right;width:35%'>
                <button type="button" class="btn btn-sm btn-default"
                        onclick="window.location.href = '{{ path('rep_concejales_seccional',{'id':circuito.id,tipo:'votos'}) }}';">Votos</button>
                <button type="button" class="btn btn-sm btn-default"
                        onclick="window.location.href = '{{ path('rep_concejales_seccional',{'id':circuito.id,tipo:'porcentajes'}) }}';">Porcentaje</button>
                <button type="button" class="btn btn-sm btn-default"
                        onclick="window.location.href = '{{ path('rep_concejales_seccional',{'id':circuito.id,tipo:'porcentajes_ponderado'}) }}';">Porc. Ponderado</button>
                <button type="button" class="btn btn-sm btn-default"
                        onclick="window.location.href = '{{ path('rep_concejales_seccional',{'id':circuito.id,tipo:'graficos'}) }}';">Gr&aacute;fico</button>
                <button type="button" class="btn btn-sm btn-default"
                        onclick="window.location.href = '{{ path('rep_concejales_seccional',{'id':circuito.id,tipo:'distribucion'}) }}';">Distribución</button>
           <button type="button" class="btn btn-sm btn-default"
                        onclick="window.location.href = '{{ path('homepage') }}';">Home</button>
            </div>
        </div>


<div id="container" style="height: 800px" width="100%"></div>

        <script>

            Highcharts.chart('container', {
                chart: {
                    type: 'column',
                    options3d: {
                        enabled: true,
                        alpha: 10,
                        beta: 8,
                        depth: 42
                    }
                },
                title: {
                    text: 'Porcentaje votos SANTA FE'
                },
                subtitle: {
                    text: 'Sistema METES'
                },
                plotOptions: {
                    column: {
                        depth: 25
                    }
                },
                xAxis: {
                    categories: [{% for clave,item in totales %}{%if loop.index>1%}'{{clave}}',{%endif%}{%endfor%} ]
                },
                yAxis: {
                    title: {
                        text: null
                    }
                },
                series: [{
                        name: ' Porcentaje %',
                        data: [{% for clave,item in totales %}{%if loop.index>1%}{{item}},{%endif%}{%endfor%} ]
                    }]
            });
        </script> 
    </body>
    </html>
#}