{% extends "layout.html.twig" %}
{% block content %}
    <meta http-equiv="refresh" content="120">

    {#% include "navigator.html.twig" %#}
    <div {#class="container"#}>
        <div>
            <div style='width: 65%;float: left'>
                <h1 class="page-header">Diputados nacionales - VOTOS</h1>
                <b>Ultima actualizaci&oacute;n: {{config.ultimaactualizacion('D')}} 
                    - Avance: {{config.avancedipnac(1)}}%</b>
            </div>
             {% include "reporting/res_dipnac_menu.html.twig" %}
        </div>
        {% if mensaje is defined %}   
            <div {% if mensaje.codigo==0 %}class="alert alert-success alert-dismissable"
            {%endif%}
            {% if mensaje.codigo==1 %}class="alert alert-danger alert-dismissable"{%endif%}
            {% if mensaje.codigo==2 %}class="alert alert-warning alert-dismissable"{%endif%}
            >
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            {{mensaje.texto}} 
        </div>
        {%else%}
            <div {#class="row"#}>
                <table width="100%" class="table table-striped table-bordered table-hover">
                    <!--thead-->
                    <tr>
                        <td style="font-size:12px;width:400px;">
                            Departamento
                        </td>
                        <td style="font-size:12px;width:40px;">
                            Mesas C.
                        </td>
                        {% for clave,item in votos|first %}
                            <td style="font-size:10px; word-wrap: break-word;margin:0;width:50px">
                                {{clave}}
                            </td>
                        {%endfor%}
                        <td style="font-size:12px;">
                            Total
                        </td>
                    </tr>
                    <!--/thead-->
 {% set total_mesas=0 %}
                    {% for clave,item in votos %}
                        <tr class="odd gradeX" id="r_{{loop.index}}">
                            <td style="width:400px;">
                                {{ departamentos[clave].nombre }}
                            </td> 
                             <td style="text-align: right;">
                                {{ departamentos[clave].mesas_cargadas }}
                                {% set total_mesas=total_mesas+departamentos[clave].mesas_cargadas %}
                            </td> 
                            {% set total=0 %}
                            {% for item2 in item %}
                                <td style="text-align: right"> 
                                    {{item2.votos}}
                                </td>
                                {%set total=total+item2.votos %}
                            {%endfor%}
                            <td style="text-align: right">{{total}}</td>
                        </tr>
                    {% endfor %}
                    <tr class="odd gradeX" id="tr_TOTAL">
                        <td style="width:300px;">
                            <b>TOTAL</b>
                        </td> 
                         <td style="text-align: right;"> 
                                <b>{{total_mesas}}</b>
                            </td>
                        {% set total=0 %}
                        {% for item2 in totales %}
                            <td style="text-align: right;"> 
                                <b>{{item2.votos}}</b>
                            </td>
                            {%set total=total+item2.votos %}
                        {%endfor%}
                        <td style="text-align: right;"><b>{{total}}</b></td>
                    </tr>
                </table>
            </div>
        </div>
        {%endif%}
   
        {% endblock %}    
            {% block final %}
            {% endblock %}


