{% extends "layout.html.twig" %}
{% block content %}
    <meta http-equiv="refresh" content="120">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log==" crossorigin=""></script>

    <style>
        #map {
            width: 900px;
            height: 800px;
        }
        .info { padding: 6px 8px; font: 14px/16px Arial, Helvetica, sans-serif; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; } .info h4 { margin: 0 0 5px; color: #777; }
        .legend { text-align: left; line-height: 18px; color: #555; } .legend i { width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7; }
    </style>
    {#% include "navigator.html.twig" %#}
    <div {#class="container"#}>
        <div>
            <div style='width: 65%;float: left'>
                <h1 class="page-header">Diputados nacionales - VOTOS</h1>
                <b>Ultima actualizaci&oacute;n: {{config.ultimaactualizacion('D')}}
                - Avance: {{config.avancedipnac(1)}}%</b>
            </div>
            <div style='float: right;width:35%'>
                {%if session.admin==1%}
                    <button type="button" class="btn btn-sm btn-default"
                            onclick="window.location.href = '{{ path('rep_dipnac_seccion',{'id':1,tipo:'votos'}) }}';">Votos</button>
                    <button type="button" class="btn btn-sm btn-default"
                            onclick="window.location.href = '{{ path('rep_dipnac_seccion',{'id':1,tipo:'porcentajes'}) }}';">Porcentaje</button>
                    <button type="button" class="btn btn-sm btn-default"
                            onclick="window.location.href = '{{ path('rep_dipnac_seccion',{'id':1,tipo:'porcentajes_ponderado'}) }}';">Porc. Ponderado</button>
                {%endif%}
                <button type="button" class="btn btn-sm btn-default"
                        onclick="window.location.href = '{{ path('rep_dipnac_seccion',{'id':1,tipo:'graficos'}) }}';">Gr&aacute;fico</button>
                <button type="button" class="btn btn-sm btn-default"
                        onclick="window.location.href = '{{ path('rep_dipnac_seccion',{'id':1,tipo:'distribucion'}) }}';">Distribución</button>
                <button type="button" class="btn btn-sm btn-default"
                        onclick="window.location.href = '{{ path('rep_dipnac_seccion',{'id':1,tipo:'avance'}) }}';">Avance</button>
                <button type="button" class="btn btn-sm btn-default"
                        onclick="window.location.href = '{{ path('rep_nacional') }}';">Home</button>
            </div>
        </div>
        <div style="clear:both"></div>
        {% if mensaje is defined %}   
            <div {% if mensaje.codigo==0 %}class="alert alert-success alert-dismissable"
            {%endif%}
            {% if mensaje.codigo==1 %}class="alert alert-danger alert-dismissable"{%endif%}
            {% if mensaje.codigo==2 %}class="alert alert-warning alert-dismissable"{%endif%}
            >
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            {{mensaje.texto}} 
        </div>
        {%else%}
            <div  style="width:900px;margin:auto;">

                <div id='map'></div>

                <script src="{{ asset('js/departamentos.js') }}"></script>

                <script>
                            var geojson;
                            function getColor(d) {
                               
                                 {%for clave,item in colores_departamento %}
                                                if (d.toUpperCase() == '{{clave}}') {
                                                        return '{{item}}';
                                                    }
                                {%endfor%}
                                      /* switch (d) {
                                    case '9 de Julio':
                                        return "#ff0000";
                                    case 'San Cristobal':
                                        return "#0000ff";
                                }*/
                                return "#ffffff";
                            }
                            
                            var map = L.map('map').setView([-31.00, -60.99], 7);

                            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
                                maxZoom: 18,
                                id: 'mapbox.light'
                            }).addTo(map);

                            function onEachFeature(feature, layer) {
                                layer.on({
                                    mouseover: highlightFeature,
                                    mouseout: resetHighlight,
                                    click: zoomToFeature
                                });
                                console.log(layer);
                                if (layer.feature.properties.NOMBRE=='Rosario') {layer.bringToFront();layer.zindex=99}
                                if (layer.feature.properties.NOMBRE=='Rosario (Campaña)') {layer.bringToBack();}
                            }
                            function style(feature) {
                                if (feature.properties.NOMBRE=='Rosario' || feature.properties.NOMBRE=='La Capital' )
                                return {
                                    fillColor: getColor(feature.properties.NOMBRE),
                                    weight: 2,
                                    opacity: 1,
                                    "color": 'white',
                                    dashArray: '3',
                                    fillOpacity: 0.7,
                                    "z-index" : 7 ,
                                };
                                    
                                return {
                                    fillColor: getColor(feature.properties.NOMBRE),
                                    weight: 2,
                                    opacity: 1,
                                    color: 'white',
                                    dashArray: '3',
                                    fillOpacity: 0.7,
                                    "z-index" : 1 ,
                                };
                            }

                            geojson = L.geoJSON(freebus, {style: style, onEachFeature: onEachFeature}).addTo(map);

                            var legend = L.control({position: 'bottomright'});
                            legend.onAdd = function (map) {
                                var div = L.DomUtil.create('div', 'info legend'),
                                        grades = [0, 10, 20, 50, 100, 200, 500, 1000],
                                        labels = [];
                               /* for (var i = 0; i < grades.length; i++) {
                                    div.innerHTML +=
                                            '<i style="background:red"></i> ' +
                                            grades[i] + (grades[i + 1] ? '&ndash;' + grades[i + 1] + '<br>' : '+');
                                }*/

                                        {% for clave,item in partidos %}
                                                 div.innerHTML +=
                                            '<i style="background:{{item.color}}"></i> ' +   '{{item.nombre_partido}}'+ '<br>';
                                        {%endfor%}

                                                return div;
                                            };
                                            legend.addTo(map);

                                            function highlightFeature(e) {
                                                var layer = e.target;
                                                //alert(layer.feature.properties.NOMBRE)
                                                layer.setStyle({
                                                    weight: 5,
                                                    color: '#666',
                                                    dashArray: '',
                                                    fillOpacity: 0.7
                                                });

                                                if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
                                                    layer.bringToFront();
                                                }
                                                info.update(layer.feature);
                                            }
                                            function resetHighlight(e) {
                                                geojson.resetStyle(e.target);
                                                info.update();
                                            }
                                            function zoomToFeature(e) {
                                                map.fitBounds(e.target.getBounds());
                                            }

                                            var info = L.control();

                                            info.onAdd = function (map) {
                                                this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
                                                this.update();
                                                return this._div;
                                            };

                                            info.update = function (props) {
                                                this._div.innerHTML = '<h3>Diputados Nacionales</h3>';
                                                if (props) {
                                                    this._div.innerHTML += '<h4>' + props.properties.NOMBRE.toUpperCase() + '</h4>';
                    {%for clave,item in totales %}
                                                if (props.properties.NOMBRE.toUpperCase() == '{{clave}}') {
                        {% for clave2,item2 in item %}
                                                        this._div.innerHTML += '<p style="width:100%;text-align:right;">{{clave2}}: {{item2}} %</p>';
                        {%endfor%}
                                                    }
                    {%endfor%}
                                            }
                                        };

                                        info.addTo(map);
                </script>




            </div>
        </div>
        {%endif%}

            {% endblock %}    
                {% block final %}
                {% endblock %}


